@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #161b22;
}

footer {
  padding: 10px;
  text-align: center;
  font-size: 14px;
  background-color: #fccf5e;
  position: absolute;
  width: 100%;
  height: 40px;
}

/* Navigation bar section */
.logo {
  cursor: pointer;
  width: 190px;
  margin: .5rem;
}

.nav__links ul {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}

.nav__links li a {
  color: #edf0f1;
  text-decoration: none;
  padding: 1rem;
  display: block;
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #7fbb88;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #edf0f1;
  border-radius: 10px;
}

@media (max-width: 710px) {
  .toggle-button {
    display: flex;
  }

  .nav__links {
    display: none;
    width: 100%;
  }

  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav__links ul {
    flex-direction: column;
  }

  .nav__links li {
    text-align: center;
  }

  .nav__links li a {
    padding: .5rem 1rem;
  }

  .nav__links.active {
    display: flex;
  }
}

/* Welcome section */
.welcome {
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: #010409;
}

.welcome img {
  display: block;
  width: 55%;
}

.text_img {
  padding: 50px;
  padding-right: 60px;
}

.text_img p {
  color: #edf0f1;
  margin-top: 10px;
  font-size: 25px;
  
}

.text_img h1{
  font-size: 70px;
  color: #d9a345;
}

@media (max-width: 1157px) {
  .welcome {
    display:inline-block;
  }

  .text_img {
    padding: 30px;
  }

  .text_img p {
    font-size: 18px;
  }
  
  .text_img h1 {
    font-size: 62px;
  }

  .welcome img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    padding-bottom: 20px;
  }

}

/*--------- Vector section ------------*/
.mainsection {
  background-color: #010409; 
}

.presentation-block {
  display: flex;
  justify-content:center;
  align-items: center;
  padding: 50px 10%;
}

.presentation-block img {
  width: 30%;
  padding: 10px;
} 
